*~
*.orig
.settings
.externalToolBuilders
/output
/lexicon-client/war/WEB-INF/classes
/lexicon-client/war/lifteditor
/lexicon-client/gwt-unitCache
/.metadata
lifteditor
/lexicon-client/.gwt
/lexicon-server/output
