<div class="container" ng-app="signup" ng-cloak>
	<div ng-controller="UserCtrl">
		<legend>Create an Account</legend>

		<div class="notification errorMessage"
			ng-show="!success.state && success.message">{{notify.error}}</div>
		<div ng-hide="success.state" class="span4">
			<form ng-submit="createUser(record)" name="userForm">
				<fieldset>
					<legend>Sign Up Below</legend>
					<div class="well">
						<div>
							<label>User Name</label> <input required type="text"
								placeholder="(username)" ng-model="record.username"
								name="username" id="username" unique-user="record.username" />
							<span ng-show="usernameloading" id="usernameLoading"><img
								src="/images/loading-small.gif"
								style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
							<span ng-show="usernameok" id="usernameOk"><img
								src="/images/tick.png" title="User name is avaiable!"
								style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
							<span ng-show="usernameexist" id="usernameExist"><img
								src="/images/exclamation.png" title="User name already exist!"
								style="position: absolute; padding-left: 5px; padding-top: 8px;" /></span>
						</div>
						<div>
							<label>Name</label> <input required type="text"
								placeholder="(your name here)" ng-model="record.name" />
						</div>
						<div>
							<label>Email</label> <input required type="text"
								placeholder="(no email)" ng-model="record.email" />
						</div>
						<div>
							<label>Password</label> <input required type="password"
								ng-model="record.password" ng-focus="vars.inputfocus"
								name="password" />
							<ul id="strength" check-strength="record.password"></ul>
						</div>
						<div class="large-12">
							<label>Confirm password</label> <input type="password"
								ng-model="record.confirm_password"
								require-equal="record.password" name="confirmPassword" /> <label
								ng-show="passwordForm.confirmPassword.$error.match">Passwords
								do not match</label>
						</div>
						<div style="line-height: 11px">
							<label>Recaptcha</label> 
							<div vc-recaptcha ng-model="record.captcha" tabindex="3"
								theme="red" lang="en" key="6LfxQecSAAAAAID2yjtFlSpIWTC7Pir7tPag6Odd"></div>
								<!-- TODO--- YOUR PUBLIC KEY GOES HERE --- -->
						</div>
					</div>
					<button class="btn btn-primary" type="submit"
						ng-disabled="(userForm.password.$pristine != userForm.confirmPassword.$pristine) || userForm.$invalid">
						Sign Up <i style="margin-left: 5px" class="icon-thumbs-up"></i>
					</button>
				</fieldset>
			</form>
		</div>
		<div ng-show="success.state">Thank you, {{record.name}}. You are
			now signed up. We will contact you when your account is active.</div>
	</div>
</div>

<script>
	
</script>
