<div class="container" ng-cloak ng-controller="grammarCtrl">
    <div class="row">
        <div class="span6 offset4">
        <h2>Add Grammatical Usage</h2>
        </div>
    </div>
<!--
    <div class="row" style="margin-top:20px">
        <div class="span4" ng-show="entries.length > 0">
            <div style="margin-bottom:10px">
                <input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText" />
                <span style="margin-left:10px" title="Clear Filter" ng-click="searchText = ''" ng-show="searchText && searchText != ''">
                    <i class="icon-remove" style="color:black; cursor: pointer"></i>
                </span>
            </div>
            <div id="entryList">
                <table class="table table-condensed ">
                    <tbody>
                        <tr ng-class="{selected: e.id == pageData.currentEntry.id}" class="animate-repeat" ng-repeat="e in entries | filter:searchText">
                            <td ng-click="editEntry(e.id)">{{e.title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="span8">
            <div class="row">
                <div class="span3">
                    <div ng-show="entryLoaded()" style="margin-bottom:20px; font-size:20px; font-weight:bold;">{{entryTitle()}}</div>
                </div>
                <div class="span2">
            	    <button class="btn" ng-click="newEntry()"><i class="icon-plus"></i>New Word</button>
                </div>
                <div class="span3">
            	    <button class="btn" ng-disabled="!canSave()" ng-show="entries.length > 0" ng-click="saveNow()"><i class="icon-save"></i>{{saveButtonTitle()}}</button>
                </div>
            </div>
            <div class="animate-show" ng-show="entryLoaded()" id="entryItemView">
                <dc-entry config="config" model="pageData.currentEntry"></dc-entry>
            </div>
        </div>
    </div>

	<div class="row" ng-show="entryLoaded()">
	    <div class="span3">
                <button ng-click="deleteEntry(pageData.currentEntry)" class="btn btn-small"><i class="icon-remove"></i>Delete Word</button>
	    </div>
	</div>
-->
	<div class="row">
		<!-- Form goes here -->
		<div class="span4">
			<div class="row">
				<div style="margin-bottom:10px">
					<input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText" />
					<span style="margin-left:10px" title="Clear Filter" ng-click="searchText = ''" ng-show="searchText && searchText != ''">
						<i class="icon-remove" style="color:black; cursor: pointer"></i>
					</span>
				</div>
			</div>
			<div class="wordlist">
				<div listview search="getPageDto()" items="items" visible-items="visibleItems" select="">
					Listview goes below
					<ul style="margin-left: 0px">
						<li ng-repeat="item in visibleItems | filter:searchText" ng-class="{even: $even, odd: $odd}">
							<a ng-click="selectEntry(item)" style="cursor: pointer">{{getEntryName(item)}}</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="span8">
		<!-- Will use dc-entry here. Take the default config from the service, drop everything from senses.fields 
		except fields.definition and fields.partOfSpeech, and pass that to dc-entry. We also will want to edit
		our directives to specify which field(s) should be read-only. Maybe an extra config flag on a per-field basis
		that specifies read-only, default to writable if not present. (Because undefined is falsey, this will be easy.) -->
			<div class="row" style="margin-left: 0px"> <!-- Override Bootstrap's margin-left: -30px on div.row -->
				<div class="control-group">
					<button class="left btn btn-primary">Save</button>
					<button class="right btn"
					        style="margin-left: 10px; padding-right: 5px"><i class="icon-arrow-right"></i></button>
					<button class="right btn"
					        style="padding-right: 5px"><i class="icon-arrow-left"></i></button>
				</div>
			</div>
			<div ng-show="true" id="entryItemView">
				<dc-entry config="config" model="pageData.currentEntry"></dc-entry>
			</div>
		</div>
	</div>
</div>
