<h2 style="font-weight:normal">My Projects</h2>
<form ng-show="rights.deleteOther" class="control-bar form-inline">
	<button class="btn" ng-click="removeProject()"><i class="icon-remove"></i>Remove Projects</button>
	<button class="btn" ng-click="newProjectCollapsed = !newProjectCollapsed"><i class="icon-plus"></i>Create New Project</button>
</form>
<div class="new-item" collapse="newProjectCollapsed">
	<form class="well ">
	<input type="text" ng-model="projectName" placeholder="Project Name"/>
	<label>Project Language</label>
	<typeahead class="typeahead" items="language" term="typeahead.langName" search="queryLanguages(typeahead.langName)" select="selectLanguage(item)">
		<ul>
			<li typeahead-item="language" ng-repeat="language in languages" class="typeahead-item">
				<p class="name">{{languageDescription(language)}}</p>
				<p class="email">{{language.subtag}}<span class="text-error">{{deprecationWarning(language)}}</span></p>
			</li>
		</ul>
	</typeahead>
	<label></label>
	<button type="submit" class="btn" ng-enabled="projectName and language" ng-click="addProject(); newProjectCollapsed = true"><i class="icon-plus"></i>Add Project</button>
	</form>
</div>
<hr />
<div listview hide-if-empty="true" search="queryProjectsForUser()" items="projects" visible-items="visibleProjects" select="">
	<div ng-repeat="project in visibleProjects" class="details-row">
		<ul class="inline" ng-class="{active: isSelected(project)}">
			<li ng-show="rights.deleteOther"><input type="checkbox" ng-checked="isSelected(project)" ng-click="updateSelection($event, project)" /></li>
			<li><a href="{{project.url}}">
			</a></li>
			<li>
				<a href="{{project.url}}">
					<span class="larger-text">{{project.projectname}}</span>
				</a>
			</li>
			
		</ul>
		<hr />
	</div>
</div>
