<div class="container" ng-app="dpimport" ng-cloak>
	<div ng-controller="UserCtrl">
		<div style="height:70px"></div>
		<div class="notification errorMessage"
			ng-show="!success.state && success.message">{{notify.error}}</div>
		<div ng-hide="success.state" class="span4">
			<form ng-submit="importProject(record)" name="depotImportForm">
				<fieldset>
					<legend>Fill Depot Project Info</legend>
					<div class="well">
						<div>
							<label>Language Depot Project Code</label> <input required type="text"
								placeholder="(project cdoe here)" ng-model="record.projectcode" name="projectcode"/>
						</div>
						<div>
							<label>Language Depot User Name</label> <input required type="text"
								placeholder="(username)" ng-model="record.projectusername"
								name="projectusername" id="projectusername"/>
						</div>
						<div>
							<label>Language Depot Password</label> <input required type="password"
								ng-model="record.projectpassword" ng-focus="vars.inputfocus"
								name="projectpassword" />
						</div>
					</div>
					<div class="progress progress-striped active" ng-show="showprogressbar">
					  <div class="bar" style="width: {{progressstep}}%;">{{progressstep}}%</div>
					</div>
					<button class="btn btn-primary" type="submit"
						ng-disabled="(depotImportForm.$invalid)">
						Import <i style="margin-left: 5px" class="icon-play"></i>
					</button>
				</fieldset>
			</form>
		</div>
		<div ng-show="success.state">Thank you, {{record.name}}. You are
			now signed up. We will contact you when your account is active.</div>
	</div>
</div>

<script>
	
</script>
