@CHARSET "UTF-8";

.conversation-panel {
	background-color: white;
	border: solid 1px #BBB;
	margin-bottom: 1em;
	padding: 5px !important;
	overflow-y: scroll;
	overflow-x: auto;
}

.conversation-sub-panel {
	background-color: white;
	border: solid 1px #BBB;
	margin-bottom: 0.5em;
	margin-left: 2em;
	padding: 0px !important;
}

.conversation-root {
	margin-left: 0em !important;
}

.conversation-root-resolved-header {
	background-color: #E6FFE6 !important;
}

.conversation-root-resolved-footer {
	background-color: #E6FFE6 !important;
}

.conversation-new {
	margin-left: 3.8em !important;
}

.conversation-sub-comment-hide {
	display: none !important;
}

.conversation-sub-comment-show {
	display: block !important;
}

.conversation-sub-header {
	background-color: #EEE;
	padding-bottom: .2em;
	border-bottom: solid 1px silver;
	position: relative;
	min-height: 5px;
}

.conversation-sub-header-new {
	background-color: #FAF3EB;
	padding-bottom: .2em;
	border-bottom: solid 1px silver;
	position: relative;
	min-height: 5px;
}

.conversation-sub-checkmarker {
	clear: left;
	float: left;
	margin: .5em .25em .25em .25em;
	padding: 0 .25em 0 .25em;
	width: 50px;
	height: 50px;
}

.conversation-sub-checkmarker-checked {
	
}

.conversation-sub-comment-container {
	margin: 0.2em 1em 0.2em 4.5em;
	min-height: 50px;
	border: solid 1px silver;
}

.conversation-sub-comment-container-root {
	margin: 0.2em 1em 0.2em;
	min-height: 25px;
}

.conversation-sub-comment-container-new {
	margin: 0.2em 1em 0.2em 1em;
	min-height: 100px;
	border: solid 1px silver;
}

.conversation-sub-footer {
	clear: left;
	background-color: #EEE;
	padding-bottom: 0px;
	border-bottom: solid 1px silver;
	position: relative;
	min-height: 20px;
	padding-right: 10px;
	padding-top: 0px;
}

.conversation-sub-footer-reply {
	padding-bottom: 3px !important;
	padding-right: 50px !important;
	padding-top: 3px !important;
}

.conversation-sub-footer-new {
	clear: left;
	background-color: #FAF3EB;
	padding-top: 20px;
	padding-right: 20px;
	border-bottom: solid 1px silver;
	position: relative;
	min-height: 50px;
}

.conversation-sub-comment-new {
	resize: none;
	width: 100%;
	border-style: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
}

.conversation-sub-footer-label {
	height: auto;
	width: 100%;
	text-align: right;
	font-size: small;
}

.item-footer-row {
	width: 100%;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

#item-footer-row-inner {
	display: table-row;
}

.item-footer-row-cells {
	display: table-cell;
	vertical-align: middle;
}

#item-footer-row-left-cell {
	width: auto;
	padding: 0px 20px 0px 0px;
	text-align: right;
}

#item-footer-row-right-cell {
	min-width: 20px;
	width: 20px;
	padding-top: 0px;
}

.item-body-row {
	width: 100%;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

#item-body-row-inner {
	display: table-row;
}

.item-body-row-cells {
	display: table-cell;
	vertical-align: middle;
}

#item-body-row-left-cell {
	min-width: 50px;
	padding: 0 5px 0 0;
	text-align: right;
	width: 50px;
}

#item-body-row-right-cell {
	width: 100%;
	padding-top: 0px;
	vertical-align: top;
}

.conversation-expend-btn-collapsed {
	border: 0 none;
	margin: 0;
	padding: 0;
	background: url(./images/ConversationControlArrowDown.png) no-repeat 1px
		1px;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 0px;
	vertical-align: middle;
}

.conversation-expend-btn-collapsed:hover {
	background-color: #FF9970;
	box-shadow: 0 1px 0 #b88974;
	-webkit-box-shadow: 0 1px 0 #b88974;
	-moz-box-shadow: 0 1px 0 #b88974;
}

.conversation-expend-btn-expended {
	border: 0 none;
	margin: 0;
	padding: 0;
	background: url(./images/ConversationControlArrowUp.png) no-repeat 1px
		1px;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 0px;
	vertical-align: middle;
}

.conversation-expend-btn-expended:hover {
	background-color: #FF9970;
	box-shadow: 0 1px 0 #b88974;
	-webkit-box-shadow: 0 1px 0 #b88974;
	-moz-box-shadow: 0 1px 0 #b88974;
}

.conversation-checkBox-resolved {
	padding: 0px !important;
	background: none !important;
}

.conversation-panel-no-item {
	text-align: center;
}

.conversation-vote {
	text-align: center;
	vertical-align: top;
	width: 50px;
	padding-top: 5px;
}

.conversation-vote-up {
	background: url(./images/thumb_up.png) no-repeat;
	border: medium none;
	height: 35px;
	width: 35px;
}

.conversation-vote-down {
	background: url(./images/thumb_down.png) no-repeat;
	border: medium none;
	height: 35px;
	width: 35px;
	margin-top: 5px;
}

.conversation-vote-count {
	font-size: 24px;
}