@CHARSET "UTF-8";

.ext_comboboxOuttaHere {
	position: absolute;
	left: -9999px;
}

.ext_comboboxselectArea {
	position: relative;
	height: 40px;
	float: left;
	color: #54636d;
	line-height: 40px;
	max-width: 2000px;
	z-index: 2;
}

.ext_comboboxtop-bar .ext_comboboxselectArea {
	font-size: 13px;
	line-height: 28px;
	color: #486070;
	height: 29px;
	margin: 0 25px 0 0;
	text-shadow: 0 0 0;
	padding: 0 0 0.8em 0;
}

.ext_comboboxselectArea .ext_comboboxleft {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 100%;
	padding: 0;
	background: url(./images/buttons.gif) no-repeat 0 -389px;
	display: block;
}

.ext_comboboxtop-bar .ext_comboboxselectArea .ext_comboboxleft {
	background: url(./images/buttons.gif) no-repeat 0 -196px;
}

.ext_comboboxselectArea a.ext_comboboxselectButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(./images/buttons.gif) no-repeat 100% -442px;
}

.ext_comboboxtop-bar .ext_comboboxselectArea a.ext_comboboxselectButton
	{
	background: url(./images/buttons.gif) no-repeat 100% -228px;
}

.ext_comboboxselectArea .ext_comboboxcenter {
	height: 40px;
	display: block;
	float: none;
	padding: 0 42px 0 21px;
	background: url(./images/2000_w_cmb_bg.png) no-repeat;
	overflow: hidden;
}

.ext_comboboxtop-bar .ext_comboboxselectArea .ext_comboboxcenter {
	height: 29px;
	background: url(./images/buttons.gif) no-repeat -20px -196px;
}

.ext_comboboxselectArea .ext_comboboxcenter img {
	float: left;
}

.ext_comboboxoptionsDivInvisible,.ext_comboboxoptionsDivVisible {
	position: absolute;
	background-color: #e5e5e5;
	border: 1px solid #c9c9c9;
	display: block;
	z-index: 30;
	font-size: 14px;
	max-width: 500px;
}

.ext_comboboxoptionsDivScroll ul {
	height: 205px;
	overflow: auto !important;
}

.ext_comboboxdrop-dif {
	background: #9cc;
}

.ext_comboboxoptionsDivInvisible {
	display: none;
}

.ext_comboboxoptionsDivVisible ul {
	margin: 0;
	padding: 2px;
	overflow: hidden;
	list-style: none;
}

.ext_comboboxoptionsDivVisible ul li {
	float: left;
	width: 100%;
}

.ext_comboboxoptionsDivVisible a {
	color: #000;
	overflow: hidden;
	text-decoration: none;
	display: block;
	height: 1%;
	padding: 2px 4px;
}

.ext_comboboxoptionsDivVisible a img {
	border: none;
	float: left;
}

.ext_comboboxoptionsDivVisible a:hover {
	background-color: #2f384e;
	color: #fff;
	text-decoration: underline;
}