.gwt-ProgressBar-shell {
	background-color: #AAAAAA;
	border-color: #848280 #848280 #848280 #848280;
	border-style: solid;
	border-width: 2px;
	height: 35px;
	width: 50%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}

.gwt-ProgressBar-shell {
	color: white;
	margin: 0;
	padding: 0;
}

.gwt-ProgressBar-text {
	color: white;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.gwt-ProgressBar-thin {
	background-color: white;
	border: 2px solid #848280;
	height: 100%;
	overflow: hidden;
}

.gwt-ProgressBar-thin .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}
