@charset "UTF-8";

.online-tool-content {
	height: 670px;
}

.accordion .ico-conf {
	background: url('./images/ico-conf.png') no-repeat 3px 7px;
}

.accordion .ico-dashboard {
	background: url('./images/ico06.gif') no-repeat 7px 3px;
}

.mainNavBarboldTitle {
	font-weight: bold;
}

.settingsTopUserBox {
	margin-left: auto;
	top: 10px;
	min-width: 200px;
	width: 260px;
	z-index: 2;
	position: relative;
}

.tab-box {
	background: none repeat scroll 0 0 #DDECF4;
	border: 1px solid #CEDAE0;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 17px;
	overflow: hidden;
	padding: 20px 33px;
}

.setting_tab_box_position {
	position: inherit !important;
}

.lexwordeditPanel {
	padding: 5px 5px 5px 5px;
}

.wordlistselectedRow {
	background: #9cb4dd !important;
}

.wordlistselectedRow td {
	border-top: 1px solid #88a4d6 !important;
	border-bottom: 1px solid #7b97d0 !important;
	background: #9cb4dd !important;
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	max-width: 91px;
	width: 91px;
	padding: 3px 2px 3px 4px !important;
}

.wordlistFlexTable {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	background-color: #505050 !important;
}

.wordlistFlexTableOddRow {
	background-color: #ebebeb !important;
}

.wordlistFlexTableEvenRow {
	background-color: #f2f6fd !important;
}

.wordlistFlexTableOddRow td {
	background-color: #ebebeb !important;
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	max-width: 91px;
	width: 91px;
	padding: 3px 2px 3px 4px !important;
}

.wordlistFlexTableEvenRow td {
	background-color: #f2f6fd !important;
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	max-width: 91px;
	width: 91px;
	padding: 3px 2px 3px 4px !important;
}

.wordfromtexttextarea {
	resize: none;
	max-height: 100% !important;
}

.content-block-tab {
	border-radius: 10px !important;
	border-top-left-radius: 0 !important;
	min-height: 200px;
}

/*hack: http://www.quirksmode.org/dom/inputfile.html*/
.wordfromtextfileuploderhide {
	float: right;
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	opacity:0;
	filter: alpha(opacity=0);
	z-index: 2;
	max-width: 120px;
	margin: 0 0 0 0 !important;
	padding: 0 !important;
}

.wordfromtextfileuploderhide td {
	padding: 0 !important;
}

.wordfromtexttextbox {
	
}

.wordfromtexttextlabel {
	vertical-align: middle;
	
}

.wordfromtexttableMargin {
	margin: 0 0 0 0 !important;
	padding: 0 !important;
	border: none !important;
}

.wordfromtexttableMargin td {
	margin: 0 0 0 0 !important;
	padding: 0 !important;
	border: none !important;
}

/* Autocompleter */
.suggestPopupContent table {
	width: 294px;
}

.autocompleterNext,.autocompleterPrev {
	height: 14px;
	margin-left: 85%;
}

.arrowleftbutton {
	background-image: url('./images/arrowLeft.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 35px;
}

.arrowrightbutton {
	background-image: url('./images/arrowRight.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 35px;
}

.arrowupbutton {
	background-image: url('./images/arrow05.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	margin-bottom: 10px;
}

.arrowdownbutton {
	background-image: url('./images/arrow04.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
}

div-no-hide {
	overflow: visible;
}

.lex-dc-row {
	width: 100%;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

#firefox-bug-fix {
	display: table-row;
}

.lex-dc-column {
	display: table-cell;
	vertical-align: top;
	/* --- TODO: use for layer debug  
	border: 1px solid #090909;-- */
}

.columns-middle {
	display: table-cell;
	vertical-align: middle;
	/* --- TODO: use for layer debug  
	border: 1px solid #090909;-- */
}

#c1 {
	padding: 0.9em;
	width: 80px;
	min-width: 80px;
}

#c1nosize {
	padding: 10px;
}

#c2 {
	width: auto;
	padding: 5px;
}

#c3 {
	width: 120px;
	min-width: 80px;
	padding-top: 12px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#c3-40PIX {
	width: 40px;
	min-width: 40px;
	padding-top: 12px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#c3-100PIX {
	width: 100px;
	min-width: 100px;
	padding-top: 12px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#c3-buttonforselection {
	width: 80px;
	padding-top: 12px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#c3nosize {
	padding-top: 25px !important;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#c3LRPadding-1 {
	padding-top: 12px;
	padding-bottom: 5px;
	padding-right: 1px;
	padding-left: 1px;
}

.cpadding5 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.cnopadding {
	padding: 0 !important;
}

.multiTextRow {
	overflow: hidden;
	padding: 0 60px 0.8em 0;
	position: relative;
}

.entryViewSelection {
	margin-left: 5px;
}

.entryViewSelectionnomargin {
	padding: 5px;
}

.entryViewLabel {
	text-align: right !important;
}

.lex-sense {
	padding-left: 10px;
	text-align: left !important;
	background: none repeat scroll 0 0 #FFF0DE;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 5px;
}

.leftText {
	text-align: left !important;
}

.rightText {
	text-align: right !important;
}

.search .tooltip {
	top: -15px !important;
}

.feedbackSuccess {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 #496B80;
	color: white;
	margin: 0 0 15px 7px;
	padding: 3px 20px 3px 22px;
	text-decoration: none;
	text-shadow: -1px -1px 0 #1E4D6A;
	font-style: italic;
	font-size: 90%;
	background: #3F7CA4 url('./images/success-ico.gif') 8px 9px no-repeat;
}

.feedbackError {
	background: #FCC;
	border: 1px solid #D77;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 #496B80;
	margin: 0 0 15px 7px;
	padding: 3px 20px 3px 15px;
	color: #200;
}
.feedback_message {
	padding: 4px 2px 2px 2px !important;
}

.feedback_message_closer_cell {
	padding-top:5px  !important;
}
.popup-invite-closer {
	background: url('./images/ico-del.gif') no-repeat scroll 0 7px
		transparent;
	float: right;
	font-size: 0.813em;
	padding: 0 0 0 20px;
	text-decoration: none;
}

.popup-invite-closer:hover {
	color: #5E5E5E;
}

.popup-invite {
	background: none repeat scroll 0 0 #DDECF4;
	border: 1px solid #CEDAE0;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 10px;
	padding: 10px 15px 10px 15px;
	min-width: 140px;
}

.popup_input_select {
	background-color: #EAEAEA;
	background-image: linear-gradient(center top, #EAEAEA 0%, #E1E0E0 100%)
		repeat scroll 0 0 transparent;
	border: 1px solid #D9D9D9;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 10px;
	padding: 10px 15px 10px 15px;
	min-width: 140px;
}

.popup {
	background-color: #EAEAEA;
	background-image: linear-gradient(center top, #EAEAEA 0%, #E1E0E0 100%)
		repeat scroll 0 0 transparent;
	border: 1px solid #D9D9D9;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 10px;
	padding: 10px 15px 10px 15px;
	min-width: 140px;
	overflow-y: scroll !important;
	max-height: 300px;
}

.popup-item-top-divider {
	background-image: url('./images/divider04.gif') !important;
	background-repeat: repeat-x !important;
	background-position: 0 0;
}

.popup-item:hover {
	color: #FFFFFF;
	background-color: #FF9970;
}

.popup-item:active {
	background-color: #FF9970;
}

.popup-item {
	background: none repeat scroll 0 0 transparent;
	color: #666666;
	padding: 2px 10px;
}

.popup-item:hover {
	color: #FFFFFF;
	background-color: #FF9970;
}

.popup-item:active {
	background-color: #FF9970;
}

.read-more-languagecode {
	font-size: 80%;
}

.read-more {
	background: url('./images/arrow02.gif') no-repeat 100% 6px;
	padding: 0 11px 0 0;
	display: inline-block;
	text-decoration: none;
}

.read-more:hover {
	text-decoration: underline;
}

.lexbrowse-Edit-View-Scrool-Panel {
	overflow: scroll-y;
	position: relative;
	width: 100%;
	max-height: 610px;
}

.case {
	padding: 20px 0 0;
	border-top: 1px solid #dfe4e7;
}

.browserlistcellDiv {
	max-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: auto;
}

#memberTable table {
	margin: 0px !important;
}

#memberTablePager table {
	margin: 0px !important;
}

#memberTablePager table td {
	border-width: 0px !important;
}

.case {
	padding: 20px 0 0;
	border-top: 1px solid #dfe4e7;
}

.rwc-ProgressLabel {
	position: relative;
	border: 1px solid #F4E6D4;
	overflow: hidden;
}

.rwc-ProgressLabel-bar {
	position: absolute;
	top: 0px;
	height: 100%;
	left: 0px;
	background: none repeat scroll 0 0 #F4E6D4;
}

.rwc-ProgressLabel-text {
	position: relative;
	z-index: 1;
	padding: 0.4em;
	vertical-align: -webkit-baseline-middle;
}

.lex-gw-semdom-q-label {
	padding-left: 20px;
	padding-right: 120px;
	padding-top: 10px;
	vertical-align: middle;
	width: auto;
}

.noarrow {
	color: #3f7ca4;
	display: block;
	text-decoration: none;
	padding: 10px 30px 10px 11px;
	background: none !important;
}

.noarrow:hover {
	text-decoration: underline;
}

.no-horizontal-scrollbar {
	overflow-x: hidden !important;
}

.boxsize-fix {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.review-hearer-label {
	font-weight: bold;
	font-size: large;
}

.small-button {
	height: 25px;
	font-size: small;
	padding: 5px 5px !important;
}

#divreset {
	
}

#divreset table {
	border-collapse: collapse;
	border-spacing: 0;
}

#divreset table td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: none;
	text-align: right;
}

.add-more {
	padding: 0 20px 0 10px;
	display: inline-block;
	text-decoration: none;
	color: #457a9b;
	text-align: left;
}

.add-more:hover {
	background: url('./images/ico07.gif') no-repeat 100% 6px;
	text-decoration: underline;
}

.remove-button {
	border-radius: 25px 25px 25px 25px !important;
	background-image: url('./images/ico09.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.form-word .field {
	padding: 0 0px !important;
}

.form-word textarea {
	padding: 0 5px !important;
}

.dashboard-on-text-color-line-word-count{
	height: 5px;
    width: 25px;
    margin-top: 10px;
    background-color: #E8A184; 
    border-color: #E67345; 
    border-style: solid; 
    border-width: 1px
}
.dashboard-on-text-color-line-part-of-speech{
	height: 5px;
    width: 25px;
    margin-top: 10px;
    background-color: #CAFF9E; 
    border-color: #73FF00; 
    border-style: solid; 
    border-width: 1px
}
.dashboard-on-text-color-line-meaning{
	height: 5px;
    width: 25px;
    margin-top: 10px;
    background-color: #80B1FF; 
    border-color: #0062FF; 
    border-style: solid; 
    border-width: 1px
}
.dashboard-on-text-color-line-example{
	height: 5px;
    width: 25px;
    margin-top: 10px;
    background-color: #FF61AB; 
    border-color: #FF0077; 
    border-style: solid; 
    border-width: 1px
}
.form-word .progress {
	height: 40px  !important;
	margin-bottom: 0px  !important;
}