<div class="sfcontainer">
	<div class="container" data-ng-app="lexicon" data-ng-cloak style="margin-top:10px; width:100%">
		<div id="lexicon-hmenu" class="hdrnav">
			<!-- Don't need breadcrumbs <ul id="top" class="topCrumbs" data-breadcrumbs></ul> -->
			<ul>
				<li><a href="#/view"><i class="icon-eye-open"></i> View</a></li>
				<li><a href="#/dashboard"><i class="icon-bookmark"></i> Dashboard</a></li>
				<li class="submenu">
					<ul collapse="!showGatherSubmenu">
						<li><a href="#/review">Review</a></li>
						<li><a href="#/gather-texts">From texts</a></li>
						<li><a href="#/semdom">From Semantic Domains</a></li>
						<li><a href="#/wordlist">From a Word List</a></li>
						<li><a href="#/dbe">Browse and edit</a></li>
					</ul>
				<a ng-click="showGatherSubmenu = !showGatherSubmenu;"><i class="icon-th"></i> Gather Words <i class="icon-chevron-down"></i></a></li>
				<li class="submenu">
					<ul collapse="!showAddSubmenu">
						<li><a href="#/add-meanings">Add meanings</a></li>
						<li><a href="#/add-grammar-usage">Add grammatical usage</a></li>
						<li><a href="#/add-examples">Add examples</a></li>
					</ul>
				<a ng-click="showAddSubmenu = !showAddSubmenu"><i class="icon-plus"></i> Add Information <i class="icon-chevron-down"></i></a></li>
				<!-- TODO: Turn above into a real menu -->
				<li><a href="#/settings"><i class="icon-cog"></i> Settings</a></li>
			</ul>
		</div>
		<div data-ng-controller="MainCtrl">
		<div data-sil-notices></div>
		<div data-ng-view></div>
		</div>
	</div>
</div>