<div class="container" ng-app="dbe" ng-cloak>
	<div ng-controller="dbeCtrl">
        <h2>Dictionary Browse and Edit</h2>

        <form class="form-horizontal multitext">
            <div class="control-group">
                <label class="control-label">Word</label>
                <div class="controls">
                    <input type="text" ng-model="word-ws1"/><span class="wsid">ws1</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" ng-model="word-ws2"/><span class="wsid">ws2</span>
                </div>
            </div>
        </form>
	</div>
</div>
