<div class="container" ng-app="dbe" ng-cloak ng-controller="dbeCtrl">
	<div class="row">
	    <div class="span10">
        <h2>---</h2>
        <h2>Dictionary Browse and Edit</h2>
    	    <button class="btn" ng-click="addEntry()"><i class="icon-plus"></i> New Word</button>
            <span ng-show="entryLoaded()" style="font-size:20px; font-weight:bold; margin-left:70px;">{{entryTitle()}}</span>
	    </div>
	</div>
	<div class="row" style="margin-top:20px">
        <div class="span4">
            <div style="margin-bottom:10px" ng-show="entries.length > 0">
                <input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText" />
                <span style="margin-left:10px" title="Clear Filter" ng-click="searchText = ''" ng-show="searchText && searchText != ''">
                    <i class="icon-remove" style="color:black"></i>
                </span>
            </div>
            <table id="entryList" class="table table-condensed table-hover">
                <tbody>
                    <tr ng-class="{selected: e.id == entry.id}" ng-repeat="e in entries | filter:searchText">
                        <td ng-click="editEntry(e.id)">{{entryTitle(e)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="entryItemView" class="span8" ng-show="entryLoaded()">
            <div style="float:right"><i ng-click="deleteEntry(entry)" title="Delete Word" class="icon-remove"></i></div>
            <dc-entry config="config" model="entry"></dc-entry>
        </div>

<!--
        <div class="span3">
            <pre>{{entries|json}}</pre>
            <pre>{{entry|json}}</pre>
        </div>
-->
	</div>
</div>
