<div class="container" ng-app="dbe" ng-cloak ng-controller="dbeCtrl">
	<div class="row">
	    <div class="span10">
        <h2>---</h2>
        <h2>Dictionary Browse and Edit</h2>
    	    <button class="btn" ng-click="addEntry()"><i class="icon-plus"></i> New Word</button>
            <button style="margin-left:40px" ng-show="entry && entries.length > 0" class="btn btn-small" ng-click="deleteEntry(entry)"><i class="icon-remove"></i>Delete Word</button>
	    </div>
	</div>
	<div class="row" style="margin-top:20px">
        <div class="span3">
            <table class="table table-condensed table-hover">
                <tbody>
                    <tr ng-show="entries.length > 0"><td><input width="4" placeholder="search filter" type="text" class="input-medium search-query" ng-model="searchText"></td></tr>
                    <tr ng-repeat="e in entries | filter:searchText">
                        <td ng-click="editEntry(e.id)">{{entryTitle(e)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="span9" ng-show="entry && entries.length > 0">
            <h4>{{entryTitle()}} </h4> 
            <dc-entry config="config" model="entry"></dc-entry>
        </div>

<!--
        <div class="span3">
            <pre>{{entries|json}}</pre>
            <pre>{{entry|json}}</pre>
        </div>
-->
	</div>
</div>
